{% extends 'home.html' %}
{% block content %}

<div >
  <section id="best-features" class="text-center">
                <h2 class="mb-5 mt-5 font-weight-bold" style="color:#ffcb22;padding-top:30px;">Courses</h2>
                <!-- class row for description-->
                <div class="row d-flex justify-content-center mb-4">
                  <!-- class column -->
                  <div class="col-md-8">
                    <p class="grey-text"></p>
                  </div>
                </div>
                <!-- class row2 for cards -->
                <div class="row d-flex justify-content-center mb-3">
  
                  <div class="row d-flex justify-content-center mb-3" style=" margin-right:170px;">
                    {% for p in picture %}
                    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 350px; height:260px;margin-left: 130px;">
                      <div class="row no-gutters" style="border-width:2px;">
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h4 class="card-title" style="color:#ff2264;">{{p.name}}</h4>
                                    <a class="nav-link" href="{{p.link}}" style="color:#f53f08;"><strong>learn course</strong></a>        
                                    <p class="card-text"><small class="text-muted"></small></p>
                                  </div>
                                </div>
                      </div>
                      </div>
                    {% endfor %}
                    </div>
      </section>
      {%endblock%}
