{% extends 'home.html' %}
{% load static %}

{% block content %}

{% if registered %}
<h4 style="padding-top: 10%; padding-left:20%">Task REGISTERED</h4>
{% else %}
<form action="" method="post" style="padding-top: 10%;">
    {% csrf_token %}
    <div id="div_id_name" class="form-group"> <label for="id_name" class=" requiredField">
      <strong>Name</strong><span class="asteriskField">*</span> </label> 
      <div class=""> 
        <input type="text" name="name" class="textinput textInput form-control" required="" id="id_name" style="margin-left:40%; width:400px;">
       </div>
       </div> 
       <div id="div_id_des" class="form-group"> <label for="id_des" class=" requiredField">
        <strong>link</strong><span class="asteriskField">*</span> </label> 
      <div class=""> <input type="text" name="link" class="textinput textInput form-control" required="" id="id_des" style="margin-left:40%; width:326px;">    
      </div>
   </div>
   </div>

    <div class="col-md-6">
      <input type="submit" value="Register" class="btn btn-primary btn-block" style="margin-left:4.5%; width:200px; margin-bottom: 20px;margin-top:20px; background:rgb(240, 114, 213)">
    </div>
</form>
{% endif %} 

{% endblock %}